.App {
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
}

td,
th {
  padding: 5px;
}

.odd {
  background-color: #eee;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: inline;
  padding: 5px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #eee;
}

.menu-item a {
  text-decoration: none;
  color: #282c34;
}

.sortable {
  cursor: pointer;
}
